@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap");

:root {
  --Violet: hsl(257, 40%, 49%);
  --SoftMagenta: hsl(300, 69%, 71%);
}
* {
  margin: 0;
}
body {
  font-family: "Open Sans", sans-serif;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--Violet);
  background-image: url("./images/bg-mobile.svg");
  background-repeat: no-repeat;
}
section {
  width: 305px;
  margin-bottom: 75px;
}
section .images {
  margin-bottom: 55px;
}
section .images .logo {
  height: 32px;
  margin-bottom: 50px;
}
section .images .illustration {
  width: 100%;
}
section .content h1 {
  font-family: "Poppins", sans-serif;
  color: white;
  text-align: center;
  margin-bottom: 20px;
}
section .content p {
  color: white;
  text-align: center;
  line-height: 1.6;
  font-size: 16px;
  margin-bottom: 25px;
}
section .content button {
  background-color: white;
  border: none;
  height: 36px;
  width: 190px;
  font-size: 12px;
  border-radius: 25px;
  color: var(--Violet);
  display: block;
  margin: 0 auto;
  cursor: pointer;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.219);
}
section .content button:hover {
  background-color: var(--SoftMagenta);
  color: white;
}
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .social_media {
  display: flex;
  gap: 10px;
}
footer .social_media i {
  border: 1px solid white;
  border-radius: 50%;
  height: 26px;
  width: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;
}
footer .social_media i:hover {
  border-color: var(--SoftMagenta);
  color: var(--SoftMagenta);
}
.attribution {
  display: none;
}

@media (min-width: 1440px) {
  body {
    background-image: url("./images/bg-desktop.svg");
  }
  section {
    width: 1290px;
    margin-bottom: 25px;
    display: flex;
  }
  section .images {
    width: 100%;
    margin-bottom: 0px;
  }
  section .images .logo {
    height: 48px;
    margin-bottom: 90px;
  }
  section .content {
    margin: auto 0;
    width: 74%;
    padding-left: 60px;
  }
  section .content h1 {
    font-size: 36px;
    text-align: left;
    margin-bottom: 20px;
    width: 87%;
  }
  section .content p {
    text-align: left;
    margin-bottom: 20px;
    width: 87%;
  }
  section .content button {
    height: 48px;
    width: 180px;
    font-size: 16px;
    display: initial;
    margin: 0;
  }
  footer {
    width: 1200px;
    align-items: flex-end;
  }
  footer .social_media i {
    height: 30px;
    width: 30px;
  }
}
